asgiref==3.9.1
Django==5.2.5
django-ckeditor==6.7.3
django-js-asset==3.1.2
django-tinymce4-lite==1.8.0
jsmin==3.0.1
pillow==11.3.0
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
