{% extends "core/base.html" %}
{% load static %}

{% block title %} About Us{% endblock title %} 

{% block content %}

<section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static "images/backgrounds/page-header-bg-1-1.jpg" %});"></div>
            
            <div class="container">
                <h2 class="page-header__title">About us</h2>
                <div class="solveritas-breadcrumb">
                    <ul class="solveritas-breadcrumb__list list-unstyled">
                        <li class="solveritas-breadcrumb__list__item"><a href="{% url "home" %}">Home</a></li>
                        <li class="solveritas-breadcrumb__list__item"><span>About us</span></li>
                    </ul>
                </div>
            </div>
        </section>

<!-- About Section Start -->
        <section class="about-two">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-6">
                        <div class="about-two__left">
                            <div class="about-two__thumb">
                                <div class="about-two__thumb__item wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                    <img src="{% static "images/about/about-2-1.png" %}" alt="solveritas image">
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-two__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="sec-title__icon icon-solar-panel"></i>
                                    <h6 class="sec-title__tagline">about us</h6>
                                </div>
                                <h3 class="sec-title__title">Leading the Way in Solar Energy Solutions</h3>
                            </div>
                            <p class="about-two__content__top__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>We provide smart, reliable, and cost-effective solar systems designed to power homes and businesses with clean energy. Our mission is to make sustainable living simple, affordable, and accessible to everyone.</p>

                            <ul class="about-two__content__feature list-unstyled">
                                <li class="about-two__content__feature__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                    <div class="about-two__content__feature__icon">
                                        <i class="icon-solar-panels"></i>
                                    </div>
                                    <div class="about-two__content__feature__content">
                                        <h4 class="about-two__content__feature__title">Cut Down Your Costs</h4>
                                        <p class="about-two__content__feature__text">Switching to solar reduces electricity bills significantly and helps you save more in the long run.</p>
                                    </div>
                                </li>
                                <li class="about-two__content__feature__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                    <div class="about-two__content__feature__icon">
                                        <i class="icon-solar-house"></i>
                                    </div>
                                    <div class="about-two__content__feature__content">
                                        <h4 class="about-two__content__feature__title">Power Your Home Naturally</h4>
                                        <p class="about-two__content__feature__text">Generate your own renewable energy and enjoy independence from rising utility prices.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End -->

        <!-- Why Choose Section Start -->
        <section class="why-choose-two">
            <div class="why-choose-two__bg" ></div>
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-8">
                        <div class="why-choose-two__content">
                            <div class="sec-title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="sec-title__icon icon-solar-panel"></i>
                                    <h6 class="sec-title__tagline">why choose us</h6>
                                </div>
                                <h3 class="sec-title__title">Trusted Renewable Energy Solutions Worldwide <br> </h3>
                            </div>
                            <div class="row gutter-y-30 gutter-x-30">
                                <div class="col-md-6">
                                    <div class="why-choose-two__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                        <h4 class="why-choose-two__title">Save More Every Month</h4>
                                        <p class="why-choose-two__text">Reduce electricity expenses significantly by using clean, renewable solar energy for long-term savings.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="why-choose-two__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                        <h4 class="why-choose-two__title">Smart Solar Systems</h4>
                                        <p class="why-choose-two__text">Install efficient solar power systems designed to meet modern residential and commercial energy needs.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="why-choose-two__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                        <h4 class="why-choose-two__title">Wind Energy Options</h4>
                                        <p class="why-choose-two__text">Utilize advanced wind energy solutions that deliver reliable, eco-friendly, and sustainable power every day.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="why-choose-two__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                        <h4 class="why-choose-two__title">Design & Delivery</h4>
                                        <p class="why-choose-two__text">Get customized renewable energy systems with complete design, support, and hassle-free delivery worldwide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="why-choose-two__thumb wow fadeInRight" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <img src="{% static "images/resources/why-choose-1-1.jpg" %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose Section End -->

        

        <div class="client-carousel ">
            <div class="container">
                <div class="sec-title text-center wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="sec-title__icon icon-solar-panel"></i>
                        <h6 class="sec-title__tagline">certifications</h6>
                    </div>
                    <h3 class="sec-title__title">our certifications</h3>
                </div>
                <div class="client-carousel__one solveritas-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 5,
            "margin": 65,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":false,
            "navText": ["<span class=\"icon-arrow-point-to-left\"></span>","<span class=\"icon-arrow-point-to-right\"></span>"],
            "responsive":{
                "0":{
                    "items":1,
                    "margin": 0
                },
                "360":{
                    "items":2,
                    "margin": 30
                },
                "575":{
                    "items":3,
                    "margin": 30
                },
                "768":{
                    "items":3,
                    "margin": 40
                },
                "992":{
                    "items": 4,
                    "margin": 40
                },
                "1200":{
                    "items": 5,
                    "margin": 140
                }
            }
            }'>
                    <div class="client-carousel__one__item">
                        <img class="client-carousel__one__image" src="{% static "images/brand/brand-1-1.png" %}" alt="solveritas">
                        <img class="client-carousel__one__hover-image" src="{% static "images/brand/brand-hover-1-1.png" %}" alt="solveritas">
                    </div>
                    <div class="client-carousel__one__item">
                        <img class="client-carousel__one__image" src="{% static "images/brand/brand-1-2.png" %}" alt="solveritas">
                        <img class="client-carousel__one__hover-image" src="{% static "images/brand/brand-hover-1-2.png" %}" alt="solveritas">
                    </div>
                    <div class="client-carousel__one__item">
                        <img class="client-carousel__one__image" src="{% static "images/brand/brand-1-3.png" %}" alt="solveritas">
                        <img class="client-carousel__one__hover-image" src="{% static "images/brand/brand-hover-1-3.png" %}" alt="solveritas">
                    </div>
                    <div class="client-carousel__one__item">
                        <img class="client-carousel__one__image" src="{% static "images/brand/brand-1-4.png" %}" alt="solveritas">
                        <img class="client-carousel__one__hover-image" src="{% static "images/brand/brand-hover-1-4.png" %}" alt="solveritas">
                    </div>
                    

                </div>
            </div>
        </div>

        <!-- FAQS Section Start -->
        <section class="faqs-two">
            <div class="faqs-two__bg" style="background-image: url({% static 'images/shapes/faqs-shape-1-1.png' %});"></div>
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-6">
                        <div class="faqs-two__thumb faqs-two__thumb--two wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="faqs-two__thumb__item">
                                <img src="{% static 'images/resources/faq-1-1.png' %}" alt="solveritas image">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sec-title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="d-flex align-items-center justify-content-start">
                                <i class="sec-title__icon icon-solar-panel"></i>
                                <h6 class="sec-title__tagline">QUESTIONS FOR US</h6>
                            </div>
                            <h3 class="sec-title__title">Some Faq Question?</h3>
                        </div>
                        <p class="faqs-two__top__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>Building and expanding wafer, solar cell, and module manufacturing facilities demands high investment. Success relies on strong infrastructure, advanced processes, and long-term financial commitment.</p>
                        <div class="faq-page__accordion-two solveritas-accrodion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms' data-grp-name="solveritas-accrodion">
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4 class="accrodion-title__text"><span class="accrodion-title__icon"></span>How do solar panels work?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p class="inner__text">Solar panels capture sunlight and convert it into electricity using photovoltaic (PV) cells.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4 class="accrodion-title__text"><span class="accrodion-title__icon"></span>What are the main types of solar systems?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p class="inner__text">The two main types are solar PV systems (electricity) and solar thermal systems (heating).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4 class="accrodion-title__text"> <span class="accrodion-title__icon"></span>What are the benefits of solar energy?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p class="inner__text">Solar energy is renewable, cost-saving, low-maintenance, and eco-friendly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4 class="accrodion-title__text"><span class="accrodion-title__icon"></span>How much space do solar panels need?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p class="inner__text">A typical 1kW solar system needs 100 sq. ft. of shadow-free space.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!-- FAQS Section End -->

        <!-- testimonial Section Start -->
        <section class="testimonials-one testimonials-one--about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="sec-title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="d-flex align-items-center justify-content-start">
                                <i class="sec-title__icon icon-solar-panel"></i>
                                <h6 class="sec-title__tagline">our testimonial</h6>
                            </div>
                            <h3 class="sec-title__title">peoples talk about <br> solveritas</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonials-one__inner wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="testimonials-one__inner__bg" style="background-image: url({% static "images/shapes/testimonials-bg-1-1.png" %});"></div>
                    <div class="testimonials-one__carousel solveritas-slick__carousel solveritas-slick__carousel--with-shadow" data-slick-options='{
				"slidesToShow": 1,
				"slidesToScroll": 1,
				"autoplay": false,
				"asNavFor": ".testimonials-one__thumb",
				"autoplaySpeed": 4000,
				"speed": 2000,
				"infinite": true,
				"prevArrow": "<button class=\"slick-button slick-button--prev\"><i class=\"icon-arrow-point-to-left\"></i></button>",
				"nextArrow": "<button class=\"slick-button slick-button--next\"><i class=\"icon-arrow-point-to-right\"></i></button>",
				"arrows": true,
				"dots": false
			}'>
                        <div class="item">
                            <div class="testimonials-one__item">
                                <div class="testimonials-one__item__inner">
                                    <h4 class="testimonials-one__item__title">solar energy service</h4>
                                    <p class="testimonials-one__item__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean non odio porttitor, convallis erat sit amet. Being a survivor now, I realized I was not educated or aware about what breast cancer actually was and how it impacted and affected people</p>
                                    <div class="testimonials-one__item__author">
                                        <h5 class="testimonials-one__item__name">Kenneth S. Fisher</h5>
                                        <span class="testimonials-one__item__deg">marketing manager</span>
                                    </div>
                                    <div class="testimonials-one__item__star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-one__item">
                                <div class="testimonials-one__item__inner">
                                    <h4 class="testimonials-one__item__title">solar energy service</h4>
                                    <p class="testimonials-one__item__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean non odio porttitor, convallis erat sit amet. Being a survivor now, I realized I was not educated or aware about what breast cancer actually was and how it impacted and affected people</p>
                                    <div class="testimonials-one__item__author">
                                        <h5 class="testimonials-one__item__name">Kenneth S. Fisher</h5>
                                        <span class="testimonials-one__item__deg">marketing manager</span>
                                    </div>
                                    <div class="testimonials-one__item__star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-one__item">
                                <div class="testimonials-one__item__inner">
                                    <h4 class="testimonials-one__item__title">solar energy service</h4>
                                    <p class="testimonials-one__item__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean non odio porttitor, convallis erat sit amet. Being a survivor now, I realized I was not educated or aware about what breast cancer actually was and how it impacted and affected people</p>
                                    <div class="testimonials-one__item__author">
                                        <h5 class="testimonials-one__item__name">Kenneth S. Fisher</h5>
                                        <span class="testimonials-one__item__deg">marketing manager</span>
                                    </div>
                                    <div class="testimonials-one__item__star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-one__item">
                                <div class="testimonials-one__item__inner">
                                    <h4 class="testimonials-one__item__title">solar energy service</h4>
                                    <p class="testimonials-one__item__text">posuere luctus orci. Donec vitae mattis quam, vitae tempor arcu. Aenean non odio porttitor, convallis erat sit amet. Being a survivor now, I realized I was not educated or aware about what breast cancer actually was and how it impacted and affected people</p>
                                    <div class="testimonials-one__item__author">
                                        <h5 class="testimonials-one__item__name">Kenneth S. Fisher</h5>
                                        <span class="testimonials-one__item__deg">marketing manager</span>
                                    </div>
                                    <div class="testimonials-one__item__star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-one__thumb__carousel">
                        <ul class="testimonials-one__thumb list-unstyled solveritas-slick__carousel" data-slick-options='{
					"asNavFor": ".testimonials-one__carousel",
					"slidesToScroll": 1,
					"autoplay": false,
					"autoplaySpeed": 3000,
					"slidesToShow": 3,
					"infinite": true,
					"vertical": true,
					"focusOnSelect": true,
					"dots": false,
					"arrows": false,
					"responsive": [
					{
						"breakpoint": 991,
						"settings": {
							"vertical": false
						}
					}]
				}'>
                            <li class="item" role="presentation">
                                <div class="testimonials-one__thumb__item">
                                    <img src="{% static "images/resources/man-1-1.jpg" alt>
                                </div>
                            </li>
                            <li class="item" role="presentation">
                                <div class="testimonials-one__thumb__item">
                                    <img src="{% static "images/resources/man-1-2.jpg" alt>
                                </div>
                            </li>
                            <li class="item" role="presentation">
                                <div class="testimonials-one__thumb__item">
                                    <img src="{% static "images/resources/man-1-3.jpg" alt>
                                </div>
                            </li>
                            <li class="item" role="presentation">
                                <div class="testimonials-one__thumb__item">
                                    <img src="{% static "images/resources/man-1-2.jpg" alt>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="testimonials-one__quite">
                        <img src="{% static "images/shapes/quite.png" %}" alt>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial Section End -->


{% endblock content %}