{% extends "core/base.html" %}

{% load static %}

{% block title %}Products Detail{% endblock title %}

{% block content %}
<section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static "images/backgrounds/page-header-bg-1-1.jpg" %});"></div>
            
            <div class="container">
                <h2 class="page-header__title">{{ blog.title }}</h2>
                <div class="solveritas-breadcrumb">
                    <ul class="solveritas-breadcrumb__list list-unstyled">
                        <li class="solveritas-breadcrumb__list__item"><a href="{% url "home" %}">Home</a></li>
                        <li class="solveritas-breadcrumb__list__item"><span>blog</span></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="blog-one blog-one--page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="blog-details">
                            <div class="blog-card-two">
                                <div class="blog-card-two__image wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                    <div class="blog-card-two__image__item">
                                        <img src="{{ blog.featured_image.url }}" alt="{{ blog.title }}">
                                    </div>
                                    {% comment %} <div class="blog-card-two__date"><span class="blog-card-two__date__day">20</span> <span class="blog-card-two__date__month">June</span></div> {% endcomment %}
                                </div>
                                <div class="blog-card-two__content">
                                    <ul class="blog-card-two__meta list-unstyled">
                                        <li class="blog-card-two__meta__item"><a href="blog-details.html"><i class="icon-user"></i>by {{ blog.author }}</a></li>
                                        {% comment %} <li class="blog-card-two__meta__item"><a href="blog-details.html"><i class="icon-comments-icon"></i>2 Comments</a></li> {% endcomment %}
                                    </ul>
                                    
                                    <p class="blog-card-two__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>{{blog.content|safe}}</p>
                                   
                                </div>
                            </div>

                            <div class="blog-details__meta wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                <div class="blog-details__cetagoris">
                                    <h4 class="blog-details__cetagoris__title">categories:</h4>
                                    <div class="sidebar__cetagoris">
                                        {% for category in blog_categories %}
                                        <a href="{% url "blogs_by_category" category.slug %}">{{ category.name }}</a>
                                        {% comment %} <a href="blog-list-right.html">brand</a> {% endcomment %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>


                        

                        
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}