{% load static %}

<!-- Footer Section Start -->
        <footer class="main-footer">
            <div class="main-footer__bg" style="background-image: url({% static "images/shapes/footer-bg-1-1.png" %});"></div>
            <div class="main-footer__top">
                <div class="container">
                    <div class="main-footer__top__inner">
                        <div class="row gutter-y-30">
                            <div class="col-lg-4">
                                <div class="main-footer__top__logo">
                                    <a href="{% url "home" %}" class="footer__logo solveritas-logo">
                                        <img src="{% static "images/logo-light.png" %}" width="255" alt="solveritas logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="main-footer__top__right">
                                    <ul class="main-footer__top__list list-unstyled">
                                        <li class="main-footer__top__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                                            <div class="main-footer__top__icon">
                                                <i class="icon-email"></i>
                                            </div>
                                            <div class="main-footer__top__content">
                                                <span class="main-footer__top__title">send email</span>
                                                <a href="mailto:solveritasglobal@gmail.com">solveritasglobal@gmail.com</a>
                                            </div>
                                        </li>
                                        <li class="main-footer__top__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                            <div class="main-footer__top__icon">
                                                <i class="icon-telephone"></i>
                                            </div>
                                            <div class="main-footer__top__content">
                                                <span class="main-footer__top__title">call agent</span>
                                                <a href="tel:+91-123-654-900">+91 123 654 900</a>
                                            </div>
                                        </li>
                                        <li class="main-footer__top__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                            <div class="main-footer__top__icon">
                                                <i class="icon-clock"></i>
                                            </div>
                                            <div class="main-footer__top__content">
                                                <span class="main-footer__top__title">opening time</span>
                                                <p>Hours: Mon-Fri: 8am – 7pm</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer__middle">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                <h4 class="footer-widget__title">about <span>solveritas</span></h4>
                                <p class="footer-widget__text">There are two main types: solar photovoltaic (PV) systems for electricity generation and</p>
                                
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                                <h4 class="footer-widget__title">our <span>Products</span></h4>
                                <ul class="list-unstyled footer-widget__links">
                                    {% for category in menu_categories %}
                                    <li class="footer-widget__links__item"><a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a></li>
                                    
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='700ms'>
                                <h4 class="footer-widget__title">useful <span>links</span></h4>
                                <ul class="list-unstyled footer-widget__links">
                                    <li class="footer-widget__links__item"><a href="{% url "about" %}">About Us</a></li>
                                    <li class="footer-widget__links__item"><a href="{% url "products" %}">Products</a></li>
                                    <li class="footer-widget__links__item"><a href="{% url "blog" %}">News & blog</a></li>
                                    {% comment %} <li class="footer-widget__links__item"><a href="{% url "feedback" %}">Feedback</a></li> {% endcomment %}
                                    <li class="footer-widget__links__item"><a href="{% url "contact" %}">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='900ms'>
                                <h4 class="footer-widget__title">follow <span>us</span></h4>
                                <p class="footer-widget__text">Follow our social media pages for updates, events, and exclusive stories</p>
                                <div class="footer-widget__social">
                                    <a href="http://facebook.com/profile.php?id=61579244730084" target='_blank'><i class="icon-facebook" aria-hidden="true"></i></a>
                                    <a href="https://x.com/Solveritassolar" target='_blank'><i class="icon-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/solveritasglobalsolar?igsh=M2t5cDBjc3RqMmc5" target='_blank'><i class="icon-social-media" aria-hidden="true"></i></a>
                                    <a href="http://youtube.com/@solveritasglobal" target='_blank'><i class="icon-youtube" aria-hidden="true"></i></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-footer__bottom">
                <div class="container">
                    <div class="main-footer__bottom__inner">
                        <p class="main-footer__copyright"> © Copyright <span class="dynamic-year">2024</span> by solveritas HTML Template.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->