{% load static %}

{% comment %} <div  class="page-wrapper"> {% endcomment %}
    <!-- Header Topbar -->
        <!-- Header Topbar -->
        <div class="topbar-one">
            <div class="container-fluid">
                <div class="topbar-one__inner">
                    <ul class="list-unstyled topbar-one__info">
                        <li class="topbar-one__info__item">
                            <div class="topbar-one__info__icon">
                                <i class="icon-email"></i>
                            </div>
                            <div class="topbar-one__info__item__content">
                                {% comment %} <span class="topbar-one__info__item__subtitle">send email</span> {% endcomment %}
                                <a href="mailto:needhelp@company.com">solveritasglobal@gmail.com</a>
                            </div>
                        </li>
                        <li class="topbar-one__info__item">
                            <div class="topbar-one__info__icon">
                                <i class="icon-clock"></i>
                            </div>
                            <div class="topbar-one__info__item__content">
                                {% comment %} <span class="topbar-one__info__item__subtitle">opening time</span> {% endcomment %}
                                <p class="topbar-one__info__item__location">Hours: Mon-Fri: 8am – 7pm</p>
                            </div>
                        </li>
                    </ul>
                    <div class="topbar-one__right">
                        <div class="topbar-one__social">
                            <a href="https://facebook.com/"><i class="icon-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/"><i class="icon-twitter" aria-hidden="true"></i></a>
                            <a href="https://instagram.com/"><i class="icon-social-media" aria-hidden="true"></i></a>
                            <a href="https://youtube.com/"><i class="icon-youtube" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-header sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header__inner">
                    <div class="main-header__logo logo-solveritas">
                        <a href="{% url "home" %}">
                            <img src="{% static "images/logo-dark.png" %}" alt="solveritas HTML" width="200">
                        </a>
                    </div>
                    <nav class="main-header__nav main-menu">
                        <ul class="main-menu__list">

                            <li class=" megamenu">
                                <a href="{% url "home" %}">Home</a>
                                
                            </li>



                            <li>
                                <a href="{% url "about" %}">about us</a>
                            </li>

                            <li class="dropdown">
    <a href="{% url 'products' %}">Products</a>
    <ul class="sub-menu">
        {% for category in menu_categories %}
            <li class="dropdown">
                <a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a>
                
                {% if category.subcategories.all %}
                    <ul class="sub-menu">
                        {% for subcat in category.subcategories.all %}
                            <li>
                                <a href="{% url 'products_by_category' subcat.slug %}">{{ subcat.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</li>


                            <li class="dropdown">
                                <a href="{% url "blog" %}">blog</a>
                                
                                <ul class="sub-menu">
                                    {% for category in blog_categories %}
                                    <li><a href="blog-carousel.html">{{ category.name}} </a></li>
                                    {% comment %} <li><a href="blog-carousel.html">Industry News</a></li> {% endcomment %}
                                    {% endfor %}
                                </ul>
                                
                            </li>
                            <li class="">
                                <a href="{% url "feedback" %}">Feedback</a>
                            </li>

                            <li class="">
                                <a href="{% url "download" %}">Download</a>
                            </li>

                            <li class="">
                                <a href="{% url "case" %}">Case</a>
                            </li>

                            <li>
                                <a href="{% url "contact" %}">contact us</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="main-header__right">
                        {% comment %} <div class="main-header__right__info">
                            <a href="#" class="search-toggler main-header__right__info__item"><i class="icon-search" aria-hidden="true"></i></a>
                            <a href="cart.html" class="main-header__right__info__item"><i class="icon-cart" aria-hidden="true"></i></a>
                        </div> {% endcomment %}
                        
                        <a href="tel:+92-3800-8060" class="main-header__right__call">
                            <div class="main-header__right__icon">
                                <i class="icon-telephone"></i>
                            </div>
                            <div class="main-header__right__content">
                                <span class="main-header__right__text">call agent</span>
                                <h6 class="main-header__right__number">+92 3800 8060</h6>
                            </div>
                        </a>
                        <div class="main-header__element">
                            <div class="main-header__element__btn">
                                <i class="icon-interface"></i>
                            </div>
                            <div class="mobile-nav__btn mobile-nav__toggler">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% comment %} </div> {% endcomment %}